/**
 * @section Base Styles
 */

$main-font: 'Ubuntu', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$secondary-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$body-bg-color: #15181e;
$bg-color: #333946;
$main-color: #ffffff;
$mainnav-size: 60px;
$mainnav-icon-size: 35px;
$profile-color: #d63d3f;
$resume-color: #37bc9b;
$portfolio-color: #f6bb42;
$contact-color: #4a89dc;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  background-color: $body-bg-color;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  text-align: center;
  letter-spacing: inherit;
  margin-bottom: 3rem;
}

h4 {
  text-transform: uppercase;
}

a {
  color: $main-color;
}

.section-figure {
  background-color: $bg-color;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 50px;
  &::after {
    content: url(../img/bottom.svg);
    position: absolute;
    bottom: -39px;
    width: 100%;
    left: 0;
    height: 40px;
  }
  .totop {
    text-align: center;
    position: relative;
    a {
      position: absolute;
      bottom: -50px;
      z-index: 10;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: -15px;
      background-image: url('../img/arrow.svg');
      transform: rotate(180deg);
      background-position: center;
      background-size: cover;
    }

  }
}

.section-header {
  display: inline-block;
  font-size: 3rem;
  position: relative;
  text-align: left;
  height: 80px;
  margin-left: -2rem;
  margin-bottom: 40px;
  padding: 20px 20px 20px 107px;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 77px;
    height: 77px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after {
    content: '';
    position: absolute;
    right: -29px;
    top: 10px;
    display: inline-block;
    height: 56.55px;
    width: 56.55px;
    border-style: solid;
    border-width: 2px 0 0 2px;
    transform: rotate(135deg);
  }
}
