@media screen and (max-width: 625px) {
  .row .column.column-33 {
    max-width: 100%;
  }
  .resume-vcard {
    text-align: center;
    a {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .main-nav-items {
    position: fixed;
    flex-direction: column;
    left: 130px;
    top: 10%;
  }
  .online-links {
    margin-top: 20px;
    text-align: right;
  }
}
