@function icon-padding($height){
  @return $height / 2
}

@mixin center-icon($width, $height) {
  content: '';
  display: block;
  margin: 0 auto icon-padding($height) auto;
  width: $width;
  height: $height;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin left-icon($size) {
  content: '';
  position: absolute;
  left: 0;
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-position: center;
}
