.resume {
  .section-header {
    border-color: $resume-color;
    &::before {
      background-color: $resume-color;
      background-image: url('../img/resume.svg');
    }
    &::after {
      border-color: $resume-color;
    }
  }
  h3 {
    text-align: left;
  }
}

.resume-vcard {
  text-align: right;

  a {
    display: inline-block;
    padding: 0 40px;
    height: 80px;
    background-color: $main-color;
    color: $body-bg-color;
    margin-right: -2rem;
    margin-bottom: 2rem;
    &::after {
      @include center-icon(30px, 30px);
      background-image: url('../img/arrow-black.svg');
      margin-top: 9px;
    }
  }
}

.employments, .education {
  padding-left: 30px;
  margin-left: 12px;
  border-left: 5px solid #fff;
  p {
    margin-bottom: 10px;
  }
  .employment, .education-item {
    list-style: none;
    position: relative;
    margin-bottom: 50px;
    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $resume-color;
      border-radius: 50%;
      left: -45px;
    }
    li {
      font-size: 1.6rem;
      list-style: disc;
    }
    .employment-title, .education-provider {
      font-size: 2.1rem;
      display: inline-block;
      max-width: 70%;
      margin-top: -5px;
      text-transform: uppercase;
    }
    .employment-dates, .education-dates {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.6rem;
    }
    .employment-position, .education-type {
      font-size: 1.9rem;
    }
  }
}

.web-tech, .os, .other-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    list-style: none;
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0 10px 50px;
    &::before {
      @include center-icon(110px, 110px);
      overflow: hidden;
      text-indent: -9999px;
      text-align: left;
      background: url('../img/logos.png') no-repeat;
      margin-bottom: 20px;
    }
  }
  .ansible::before { background-position: -2px -0px; width: 110px; height: 110px; }
  .apache::before { background-position: -114px -0px; width: 110px; height: 110px; }
  .bash::before { background-position: -226px -0px; width: 110px; height: 110px; }
  .bootstrap::before { background-position: -338px -0px; width: 110px; height: 110px; }
  .centos::before { background-position: -450px -0px; width: 110px; height: 110px; }
  .css3::before { background-position: -2px -112px; width: 110px; height: 110px; }
  .docker::before { background-position: -114px -112px; width: 110px; height: 110px; }
  .g-suite::before { background-position: -226px -112px; width: 110px; height: 110px; }
  .git::before { background-position: -338px -112px; width: 110px; height: 110px; }
  .github-pages::before { background-position: -450px -112px; width: 110px; height: 110px; }
  .google-apps-script::before { background-position: -2px -224px; width: 110px; height: 110px; }
  .gulp::before { background-position: -114px -224px; width: 110px; height: 110px; }
  .html5::before { background-position: -226px -224px; width: 110px; height: 110px; }
  .iptables::before { background-position: -338px -224px; width: 110px; height: 110px; }
  .joomla::before { background-position: -450px -224px; width: 110px; height: 110px; }
  .jquery::before { background-position: -2px -336px; width: 110px; height: 110px; }
  .js::before { background-position: -114px -336px; width: 110px; height: 110px; }
  .kvm::before { background-position: -226px -336px; width: 110px; height: 110px; }
  .laravel::before { background-position: -338px -336px; width: 110px; height: 110px; }
  .mysql::before { background-position: -450px -336px; width: 110px; height: 110px; }
  .nginx::before { background-position: -2px -448px; width: 110px; height: 110px; }
  .openstack::before { background-position: -114px -448px; width: 110px; height: 110px; }
  .openvpn::before { background-position: -226px -448px; width: 110px; height: 110px; }
  .php::before { background-position: -338px -448px; width: 110px; height: 110px; }
  .postgresql::before { background-position: -450px -448px; width: 110px; height: 110px; }
  .proxmox::before { background-position: -2px -560px; width: 110px; height: 110px; }
  .squid::before { background-position: -114px -560px; width: 110px; height: 110px; }
  .thinstation::before { background-position: -226px -560px; width: 110px; height: 110px; }
  .ubuntu::before { background-position: -338px -560px; width: 110px; height: 110px; }
  .vagrant::before { background-position: -450px -560px; width: 110px; height: 110px; }
  .wp::before { background-position: -2px -672px; width: 110px; height: 110px; }
  .xen::before { background-position: -114px -672px; width: 110px; height: 110px; }
  .zabbix::before { background-position: -226px -672px; width: 110px; height: 110px; }
}


